@keyframes blinking {
  0% {
    opacity: 0.2;
  }

  33% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.plugin-github-stars {
  padding: 0 var(--size-2-2);

  .logo {
    height: var(--icon-s);
    width: var(--icon-s);
  }

  .stats {
    display: inline-flex;
    gap: var(--size-2-2);
    margin-left: var(--size-2-2);

    .starred-count-icon {
      color: var(--color-yellow);

      .svg-icon {
        width: 0.75rem;
        height: 0.75rem;
      }
    }

    .unstarred-count {
      font-weight: bold;
      color: var(--color-red);
    }

    .unstarred-count-icon {
      color: var(--color-red);

      .svg-icon {
        width: 0.75rem;
        height: 0.75rem;
      }
    }
  }

  .action {
    display: inline-flex;
    gap: var(--size-2-2);
    margin-left: var(--size-2-2);

    &.in-progress {
      animation: blinking 6s infinite;
    }

    &.done {
      color: var(--color-green);
    }

    &.failed {
      color: var(--color-red);
    }

    .action-icon {
      .svg-icon {
        width: 0.75rem;
        height: 0.75rem;
      }
    }
  }
}

.github-stars.settings {
  opacity: 1;
  transition: opacity 0.5s;

  &.save-in-progress {
    opacity: 0.25;
  }
}

.github-stars.modal-container {
  .modal-content-wrapper {
    pre {
      display: inline-block;
      background-color: var(--color-base-20);
      padding: var(--size-2-1) var(--size-2-2);
      border-radius: var(--radius-s);
      border: 1px var(--color-base-35) solid;
      margin: 0;
      font-size: medium;
    }
  }

  .modal-buttons-wrapper {
    display: flex;
    padding-top: var(--size-4-4);
    gap: var(--size-4-2);
    justify-content: flex-end;
  }
}
